@charset "UTF-8";
@font-face {
  font-family: 'android';
  src: url('fonts/android.otf');
}  
@font-face {
  font-family: 'nav';
  src: url('fonts/oi.otf');

}
:root{
  --cor0: #EBE5C5;
  --cor1: #83E1AD;
  --cor2: #4E8768;
  --cor3: #294737;
  --cor4: #16C365;
  --cor5: #477A5E;
  
  --font-android: 'android';
  --font-padrao: Arial, Helvetica, sans-serif;
  --font-nav: 'nav';
}
*{
  margin: 0px;
  padding: 0px;
}
body{
  background-color: var(--cor0);
}
header{
  background-image: linear-gradient(to bottom, var(--cor4),var(--cor5));
  text-align: center;
  padding-top: 50px;
  height: 150px
  
}
header h1{
  margin-bottom: 20px;
  color: #fff;
  font-weight: normal;
  text-shadow: 2px 02px 0px #000;
  font-family: var(--font-nav)
}
header  p{
  color: #fff;
  text-shadow: 2px 2px 0px #000;
}
nav{
 background-color:  var(--cor2);
 padding: 20px;
}
nav >a{
  color: #fff;
  text-shadow: 2px 2px 0px #000;
  text-decoration: none;
  font-weight: bold;
  transition-duration: .5s;
  padding: 9px;
}
nav > a:hover{
  background-color: var(--cor3);
  color: var(--cor4);
}
main{
  background-color: #fff;
  min-width: 300px;
  max-width: 800px;
  padding: 5px;
  margin: auto;
  box-shadow: 0px 0px 10px #0000005E;
  border-radius: 0px 0px 10px 10px;
  margin-bottom: 30px;
}
main img{
  width: 100%;
}
main img.pequena{
  max-width: 350px;
  display:  block;
  margin: auto;
}
div.video{
  position: relative;
  padding: 20px;
  margin: 0px -5px 5px -5px;
  background-color: var(--cor3);
  padding-bottom: 54%;
}
div.video > iframe{
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}
main h1{
  text-align: center;
  color: var(--cor4);
  font-weight: normal;
  font-family: var(--font-android)
}
main  h2{
  text-align: center;
  color: var(--cor4);
  font-family: var(--font-android)
}
main p {
  font-size: 1em;
  line-height: 1.5em;
  margin: 15px 0px;
  text-align: justify;
  text-indent: 20px
}
main strong{
  color: var(--cor3);
}
main a{
  text-decoration: none;
  color: var(--cor1);
  background-color: var(--cor5);
  border-radius: 5px 0px;
}
main a:hover{
  color: var(--cor3);
  text-decoration: underline;
}
aside{
  box-shadow: 2px 2px 2px 2px #00000073;
  border-radius: 10px;
  background-color: var(--cor1)
}
aside  p{
  text-align: justify;
}
aside  h3{
  background-color: var(--cor3);
  border-radius: 10px 10px 0px 0px;
  color: var(--cor4);
  color: #fff;
}
aside ul{
  list-style-type: '\2714\00A0';
  list-style-position: inside;
  columns: 2;
}
footer{
  background-color: var(--cor3);
  padding: 10px;
}
footer  p{
  color: #fff;
  font-size: 10px;
  text-align: center;
}
footer a{
  text-decoration: none;
}
